<div class="header">
  Train Seat Booking System
</div>

<div class="seat-booking">
  <input type="number" [(ngModel)]="numSeatsToBook" min="1" max="7" placeholder="Enter number of seats to book (1-7)" />
  <button (click)="bookSeats()" style="margin-right: 5px;">Book Seats</button>
  <button (click)="resetSeats()">Reset Seats</button>
</div>

<!-- Display total booked seats -->
<div class="seat-status">
  <div>Total Booked Seats: {{ bookedSeats.length }}</div>

  <!-- Display booked seat numbers -->
  <div class="booked-seats">
    <strong>Booked Seats:</strong>
    <span *ngFor="let seat of bookedSeats">{{ seat }}</span>
  </div>

  <!-- Display available seat numbers -->
  <div class="available-seats">
    <strong>Available Seats:</strong>
    <span *ngFor="let seat of availableSeats">{{ seat }}</span>
  </div>
</div>

<div class="seats">
  <div *ngFor="let row of seats; let rowIndex = index" class="row">
    <span *ngFor="let seat of row; let seatIndex = index"
          [class.booked]="isSeatBooked(rowIndex, seatIndex)">
      {{ getSeatNumber(rowIndex, seatIndex) }}
    </span>
  </div>
</div>

<div class="footer">
  <a href="https://github.com/mdfaizaanalam" target="_blank">
    <i class="fab fa-github"></i>
  </a>
  <a href="https://www.linkedin.com/in/mdfaizaanalam" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
